<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Queries to allow checking/opening other apps -->
    <queries>
        <!-- PhonePe -->
        <package android:name="com.phonepe.app" />
        <package android:name="com.phonepe.app.preprod" />
        <!-- GPay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <!-- Paytm -->
        <package android:name="net.one97.paytm" />
        <!-- BHIM -->
        <package android:name="in.org.npci.upiapp" />
        <!-- Generic UPI intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Astro 5 Star"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Entry Point -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebViewActivity" />

        <!-- Payment Handler Activity for Deep Links -->
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Scheme: astro5star://payment_status -->
                <data android:scheme="astro5star" android:host="payment_status" />
                <data android:scheme="astro5star" android:host="payment-status" />
            </intent-filter>
        </activity>

    </application>

</manifest>
