body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222;
    color: white;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}